@import "style/vars";

.messageHistory {
  background-color: gray;
}

.input {
  display: flex;
  height: 70px;

  .inputText {
    border: 0;
    padding: 10px;
    flex: 1;
  }

  .inputBorder {
    border: none;
    height: 30px;
  }
  
  .send {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70px;

    .message {
      color: $pale-teal;
    }	

    .noMessage {
      color: $send-message-disabled;
    }
  }
}
