@import "style/vars";

.input {
	display: flex;

	.inputText {
		// -webkit-box-shadow: -2px 2px 10px 0px rgba(50, 50, 50, 0.22);
		// -moz-box-shadow:    -2px 2px 10px 0px rgba(50, 50, 50, 0.22);
		// box-shadow:         -2px 2px 10px 0px rgba(50, 50, 50, 0.22);
	    border: 0;
	    padding: 10px;
	    flex: 1;
	}
	.inputBorder {
		border: none;
		height: 30px;
	}
	.send {
		width: 70px;
		height: 70px;
		padding: 10px;
		padding-right: 30px;		
	}
}