@import "style/vars";

.messageHistory {
	background-color: gray;
}

.input {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 75%;

	.inputText {
	    border: 0;
	    padding: 10px;
	    flex: 1;
	}
	.inputBorder {
		border: none;
		height: 30px;
	}
	.send {
		width: 70px;
		height: 70px;
		padding: 10px;
		padding-right: 30px;	
		background-color: white;
		.message {
			color: $primary-color;
		}	
		.noMessage {
			color: $send-message-disabled;
		}
		font-size: 2.5em;
	}

}