@import "../../../style/vars";

.container-register {
  min-height: 100vh;

  display: flex;
  flex-flow: row;

  .logo {
      position: absolute;
      display: flex;
      top: 1.5em;
      left: 2.5em;

      justify-content: left;

      .logo-logo {
          width: 2em;
          margin-right: 1em;
      }

      .logo-text {
          width: 8em;

          text {
              font-size: 5em;
          }
      }
  }

  .register-splash {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-teal;
    color: $white;

    .register-text {
      width: 60%;

      h1 {
        font-size: 4em;
        text-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 30px;
      }
    }
  }

  .register-form {
    width: 30%;
    min-width: 375px;
    background-color: $pale-teal;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: $white;
    }
  }
}

.container-pending {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}