@import '../../../style/vars';

.mentor-detail-container {
    display: flex;
    flex-flow: row;

    .results {
        display: none;

        @media(min-width: 440px) {
            display: inherit;
        }
    }

    .mentor-details {
        display: flex;
        flex-flow: column;
        padding: 20px;

        .heading {
            display: flex;
            flex-flow: row;
            color: $subheading-text-color;

            * {
                margin-right: 5px;
            }

            h1 {
                font-size: 1.3em;
            }
        }

        .about-major-heading {
            margin-top: 50px;
        }

        .my-classes-heading {
            margin-top: 20px;
        }

        .about-major {
            margin-top: 5px;
            p {
                line-height: 1.5;
            }
        }

        ul {
            columns: 2;
            list-style-position: inside;
            margin-top: 10px;
        }

        button {
            margin-top: 10px;
        }
    }

    @media(min-width: 440px) {
        padding: 20px 100px 20px 100px;
    }
}

.new-request-input {
    color: $subheading-text-color;
    margin-top: 15px;

    & > {
        margin-top: 10px;
    }

    p {
        line-height: 1.5;
    }

    h1 {
        font-size: 1.3em;
    }

    .buttons {
        display: flex;
        flex-flow: row;
    }
}