@import '../../style/vars';

.container-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;

    h1 {
        font-size: 2em;
    }

    .top {
        background-color: $primary-color;
        flex: 1.2;

        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            color: $white;
            margin-top: auto;
        }
    }

    .middle {
        flex: 1.8;
        padding: 15px;
    }

    .bottom {
        flex: 3;
        padding: 15px;

        background-color: $mentorship-off-color;
    }
}
