@import '../../style/vars';

.container-profile {
    background-color: $profile-canvas-color;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    .navbar-container {
        order: 10;
    }

    .profile-search {
        display: none;

        .search-bar {
            border-radius: 25px;
        }
        @media (min-width: 440px) {
            display: block;
            width: 60%;
            margin: 30px auto;
        }
    }

    .profile-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;

        h1 {
            font-size: 1.3em;
        }
        h2 {
            font-size: 1em;
            color: $subheading-text-color;
        }
        p {
            color: $subheading-text-color;
        }

        .top {
            background-color: $primary-color;
            flex: 1;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @media (min-width: 440px) {
                flex-flow: row;
                align-items: flex-end;
            }

            .user-info {
                display: flex;
                flex-flow: row;
                align-items: flex-end;
                padding-left: 20px;

                .profile-pic {
                    width: 100px;
                    height: 100px;
                    position: relative;
                    top: 50px;
                    background-color: $white;
                    border-radius: 50%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

                    @media (min-width: 440px) {
                        width: 150px;
                        height: 150px;
                        top: 75px;
                    }
                }
                
                h1 {
                    color: $white;
                }

                @media (min-width: 440px) {
                    padding-left: 60px;
                }
            }
        }

        .profile-detail-container {
            flex: 4;

            display: flex;
            flex-flow: column;

            .general {
                flex: 1;
                background-color: $white;
                padding: 20px;

                * {
                    margin-bottom: 5px;
                }

                .heading {
                    display: flex;
                    flex-flow: row;
                    margin-top: 50px;
                    * {
                        margin: 0 5px 10px 0;
                    }
                }

                .body {
                    display: flex;
                    flex-flow: column;

                    .notifications {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                    }

                    .preferred-email {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                    }

                    @media (min-width: 440px) {
                        * {
                            margin-bottom: 20px;
                        }
                    }
                }

                @media (min-width: 440px) {
                    padding: 30px;
                }

            }

            .mentorship {
                flex: 2;
                background-color: $mentorship-off-color;
                padding: 20px;

                .heading {
                    display: flex;
                    flex-flow: row;
                    * {
                        margin: 0 5px 10px 0;
                    }
                }

                .mentorship-status {
                    color: $primary-color;
                }

                @media (min-width: 440px) {
                    flex: 0 0 50%;
                    padding: 50px;

                    * {
                        margin-bottom: 20px;
                    }
                }
            }

            @media (min-width: 440px) {
                flex-flow: row;
            }
        }

        @media (min-width: 440px) {
            margin: 30px 35px 0 35px;
            border-radius: 15px 15px 0px 0px;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.3em;
                color: $subheading-text-color;
            }
        }
    }
}
