.onboard--top-bar {
  height: 60px;
  width: 100%;
  top: 0;
  position: absolute;
  background-color: $pale-teal;

  .logo {
    position: absolute;
    display: flex;
    top: .8em;
    left: 2.5em;

    justify-content: left;

    .logo-logo {
      width: 2em;
      margin-right: 1em;
    }
  }
}