@import "style/vars";

.sidebar {
    display: flex;
    height: 100%;
    min-width: 200px;
    width: 25%;
    background-color: $black;

    .header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
}