@import "style/vars";

.sidebar {

  .header {
    width: 100%;
    height: 70px;
    min-height: 70px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 10px 10px;

    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.2em;
      color: $unread-message;
    }
  }

  .thread-previews {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: flex-start;

    .thread-preview-container {
      width: 100%;
      height: 70px;
      display: flex;
      flex-flow: row;
      padding: 5px;
      overflow: hidden;
      border-bottom: 1px solid $pale-grey;

      .message-preview {
        display: flex;
        margin-left: 3px;
        flex-flow: column;
        justify-content: center;
        padding: 2px;
        max-width: calc(100% - 60px);
      }

      h1 {
        font-size: 1em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      p {
        font-size: 0.8em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:hover {
        cursor: pointer;
    }
  }

    .bold {
      background-color: $pale-grey;
    }
  }
}