@import "style/vars";

.sidebar {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 256px;
  width: 25%;
  background-color: $white;
  color: $subheading-text-color;
  overflow: auto;

  .header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 10px 10px;

    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.2em;
      color: $unread-message;
    }
  }

  .thread-previews {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: flex-start;

    .thread-preview-container {
      width: 100%;
      height: 70px;
      display: flex;
      flex-flow: row;
      padding: 5px;
      border: 1px solid $divider-color;
      overflow: hidden;

      .message-preview {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 2px;
        max-width: calc(100% - 60px);
      }

      h1 {
        font-size: 1em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      p {
        font-size: 0.8em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:hover {
        background-color: $message-active-background;
        cursor: pointer;
    }
  }

    .bold {
      color: $black;
      font-weight: bold;
    }
  }
}