@import "style/vars";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  background: $overlay-background;

  .overlay-popup {
    position: relative;
    margin: 150px auto;
    background: white;
    width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5);
    padding: 20px;
    color: $pale-teal;
    
    p {
      margin-bottom: 5px;
    }

    form {
      margin-top: 30px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      input {
        padding: 10px;
        width: 50%;
      }
    }
  }
}