@import "style/vars.scss";

.messages-container {
    display: flex;
    flex-flow: column;
    background-color: #F8F8F8;

    .messages-wrapper {
        flex: 1;
        display: flex;
        flex-flow: row;

        .threadview-input-container {
          display: flex;
          flex-flow: column;
          flex: 1;
        }
    }

    height: 100%;
}
