@import "style/vars.scss";

.messages-container {
    display: flex;
    flex-flow: column;
    background-color: #F8F8F8;

    .navbar-container {
        order: 0;
    }

    .messages-wrapper {
        flex: 1;
        display: flex;
        flex-flow: row;
    }
    
    height: 100%;
}