@import "style/vars.scss";

.messages-container {
  display: flex;
  flex-flow: column;
  height: 100%;

  .messages-wrapper {
    flex: 1;
    display: flex;
    flex-flow: row;
    overflow-x: auto;
    overflow-y: auto;

    .sidebar {
      display: flex;
      flex-flow: column;
      height: 100%;
      width: 25%;
      color: $subheading-text-color;
      border-right: 1px solid $pale-grey;
      overflow: auto;
      min-width: 256px;
    }

    .threadview-input-container {
      display: flex;
      flex-flow: column;
      width: 75%;
      max-width: calc(100% - 256px);
      min-width: 300px;
    }
  }
}
