@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.main-container {
    .navbar-container {
        background-image: linear-gradient(119deg, #80dffa, #64e1da 57%, #50e3c2);
    }
}

.main-window {
    min-height: 90vh;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(119deg, #80dffa, #64e1da 57%, #50e3c2);

    .main-content {
        position: relative;
        top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-logo {
            display: flex;
    
            width: 600px;
            height: 200px;
    
            justify-content: center;
            align-items: center;
    
            .main-logo-logo {
                width: 9em;
                margin-right: 3em;
            }
          
            .main-logo-text {
                color: white;
                font-weight: bold;
                font-size: 76pt;
            }
        }
    
        .main-find {
            display: flex;
            color: white;
            font-weight: bold;
    
            justify-content: center;
            align-items: center;
            
            font-size: 28pt;
            width: 490px;
            height: 90px;
    
            border: solid 4px #f9f9f9;
            padding: 30px 40px;
    
            margin-bottom: 25px;
            margin-top: 60px;
    
            font-family: 'Open Sans', serif;
    
            cursor: pointer;
        }
    
        .main-onboarding {
            display: flex;
            color: white;
    
            justify-content: center;
            align-items: center;
    
            font-size: 18pt;
            width: 400x;
            height: 40px;
    
            font-family: 'Open Sans', serif;

            cursor: pointer;
        }
    }
}
