@import '../../style/vars';

.search-bar {
    width: 100%;
    padding: 0 10px 0 10px;
    background-color: $white;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}