$black: #000000;
$white: #FFFFFF;

$main-text: #C75A33;
$subheading-text-color: #5D636F;
$instruction-text-color: #747374;
$login-link-color: #5A83F1;

$primary-color: #6284ea;
$mentorship-off-color: #f7f7f7;
$profile-canvas-color: #F0F0F0;
$mentor-detail-canvas-color: #E4E4E4;
$mentor-bio-color: #aeb2b9;
$request-input-field-color: #f5f4f6;
$send-message-disabled: #6C6E7A;

$divider-color: #e0e0e0;

// messages
$unread-message: #FF876C;
$message-active-background: #f2f2f2;
$message-bubble-background-color: #EDEDED;

// redesign
$pale-teal: #7ec3b4;
$light-teal: #b7e7d7;
$login-bg-color: #7ec3b4;
$login-bg-color-add: var(--pale-teal);
$login-opacity: 0.61;
$login-button-color: #c3d887;

// messages
$message-from-self-background: #eff9f9;
$message-text-color: #4a4a4a;

$light-grey: #4a4a4a;
