$black: #000000;
$white: #FFFFFF;

$main-text: #C75A33;
$subheading-text-color: #5D636F;
$login-link-color: #5A83F1;

$primary-color: #007bff;
$mentorship-off-color: #f7f7f7;
$profile-canvas-color: #F0F0F0;
$mentor-detail-canvas-color: #E4E4E4;
$mentor-bio-color: #aeb2b9;
$request-input-field-color: #f5f4f6;

$divider-color: #e0e0e0;
