@import '../../../style/vars';

.container-profile {
    background-color: $profile-canvas-color;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    .profile-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: scroll;

        h1 {
            font-size: 1.3em;
        }
        h2 {
            font-size: 1em;
            color: $subheading-text-color;
        }
        p {
            color: $subheading-text-color;
        }

        .profile-detail-container {
            flex: 4;

            display: flex;
            flex-flow: column;

            .general {
                flex: 1;
                background-color: $white;
                padding: 20px;

                & > * {
                    margin-bottom: 20px;
                }

                .heading {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    margin-top: 50px;

                    .icon-and-title{
                      display: flex;
                      flex-flow: row;

                      i {
                          margin-right: 5px;
                      }
                    }

                    h1 {
                        font-size: 1.7em
                    }
                }

                .body {
                    display: flex;
                    flex-flow: column;

                    & > * {
                        margin-bottom: 20px;
                    }

                    .notifications {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                    }

                    .preferred-email {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                    }

                    @media (min-width: 440px) {
                        * {
                            margin-bottom: 5px;
                        }
                    }
                }

                @media (min-width: 440px) {
                    padding: 30px;
                }

            }

            .mentorship {
                flex: 2;
                background-color: $mentorship-off-color;
                padding: 20px;

                .heading {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    * {
                        margin: 0 5px 10px 0;
                    }

                    @media (min-width: 440px) {
                        margin-top: 50px;
                    }
                }

                .body {
                    display: flex;
                    flex-flow: column;

                    .mentorship-status {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        margin-bottom: 30px;
                    }

                    .mentor-fields {

                        & > div > p {
                            color: $primary-color;
                            cursor: pointer;
                            margin-top: 10px;
                        }

                        & > div > div > i:before {
                            /* edit icon */
                            cursor: pointer;
                        }

                        & > * {
                            margin-bottom: 30px;
                        }

                        .text-and-edit {
                            display: flex;
                            flex-flow: row;
                            justify-content: space-between;
                            margin-top: 10px;

                            .courses {
                              display: flex;
                              flex-flow: row;
                            }
                        }

                        .bio {

                            .add-bio {
                                & > * {
                                    margin-top: 10px;
                                }

                                textarea {
                                    height: 100px;
                                }
                            }

                        }

                        .gpa {
                            display: flex;
                            flex-flow: row;
                            justify-content: space-between;
                        }
                    }
                }

                @media (min-width: 440px) {
                    flex: 0 0 50%;
                    padding: 30px;

                    & > * {
                        margin-bottom: 20px;
                    }
                }
            }

            @media (min-width: 440px) {
                flex-flow: row;
            }
        }

        @media (min-width: 440px) {
            margin: 30px 35px 0 35px;
            border-radius: 15px 15px 0px 0px;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.3em;
                color: $subheading-text-color;
            }
        }
    }
}

.top {
    background-color: $primary-color;
    max-height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    .user-info {
        display: flex;
        flex-flow: row;
        align-items: flex-end;
        padding-left: 20px;


        h1 {
            margin-left: 10px;
            color: $white;
            font-size: 1.5em;
        }

        @media (min-width: 440px) {
            padding-left: 30px;
        }
    }
}

.profile-pic {
    width: 100px;
    height: 100px;
    position: relative;
    top: 50px;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid $white;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;



    @media (min-width: 440px) {
        width: 150px;
        height: 150px;
        top: 75px;
    }
}
