@import "../../../style/vars";

.home-container {

    .landing-screen {
        min-height: 100vh;
        display: flex;
        flex-flow: column;

        .top-bar {
            height: 100px;
            border-bottom: 1px solid $mentor-bio-color;
            padding: 0 20px 0 20px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            img#logo {
                width: 200px;
            }

            .nav-buttons {
                display: flex;
                flex-flow: row;

                * {
                    padding: 20px;
                }
                #how {
                    border: 1px solid $black;
                    border-radius: 10px;
                }

                @media (max-width: 440px) {
                    display: none;
                }
            }
        }

        .splash {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            
            flex-grow: 1;
            padding: 0 100px 0 100px;

            @media (max-width: 440px) {
                padding: 0 20px 0 20px;
            }

            .main-prompt {
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                width: 50%;

                @media (max-width: 440px) {
                    width: 100%;
                    align-items: center;
                }

                button {
                    width: 50%;
                }

                &>* {
                    margin-bottom: 20px;
                }

                .login-link {
                    color: $login-link-color;
                }
                
            }

            h1 {
                font-size: 3em;

                @media (max-width: 440px) {
                    font-size: 1em;
                }
            }

            img {
                @media (max-width: 440px) {
                    display: none;
                }
            }
        }
    }

    .explanation {
        display: flex;
        flex-flow: column;

        align-items: center;

        img {
            height: 100%;
            overflow: visible;
        }
    }
}
