@import "../../../style/vars";

.home-container {

    .landing-screen {
        min-height: 100vh;

        .top-bar {
            height: 100px;
            border-bottom: 2px solid $mentor-bio-color;

            display: flex;
            align-items: center;
            justify-content: space-between;

            img#logo {
                width: 200px;
            }

            .nav-buttons {
                display: flex;
                flex-flow: row;

                * {
                    padding: 20px;
                }
                #how {
                    border: 1px solid $black;
                    border-radius: 10%;
                }
            }
        }
    }
}
