@import "../../../style/vars";

.home-container {

  .heading-text {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 60%;
    color: $white;  

    h1 {
      line-height: 1.5;
      letter-spacing: 20px;
      font-weight: bold;
    }
  }

  .logo {
    display: flex;
    justify-content: left;

    .logo-logo {
      width: 2em;
      margin-right: 1em;
    }

    .logo-text {
      width: 8em;

      text {
        font-size: 5em;
      }
    }
  }

  .landing-screen {
    min-height: 100vh;
    display: flex;
    flex-flow: column;

    .top-bar {
      height: 80px;
      padding: 0 20px 0 20px;
      position: fixed;
      width: 100%;
      opacity: .96;
      top: 0;
      background-color: $white;
      color: $pale-teal;

      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 660px) {
        height: 50px;
      }

      img#logo {
        width: 200px;
      }

      .nav-buttons {
        display: flex;
        flex-flow: row;

        * {
          padding: 8px 20px 8px 20px;
          
          @media (max-width: 440px) {
            padding: 6px 10px 6px 10px;
          }
        }


        #login {
          transition: box-shadow .2s ease;
          border-radius: 10px;
          margin-right: 20px;

          &:hover {
            cursor: pointer;
          }
        }

        #signup {
          border-radius: 10px;
          background-color: $light-orange;
          transition: background-color .2s ease;
          box-shadow: 0 4px 10px 0 rgba(74, 74, 74, 0.1);
          color: $white;

          &:hover {
            background-color: $white;
            color: $pale-teal;
            cursor: pointer;
          }
        }
      }
    }

    .splash {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      
      flex-grow: 1;
      padding: 0 100px 0 100px;

      @media (max-width: 440px) {
        padding: 0 20px 0 20px;
      }

      .main-prompt {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        width: 50%;

        @media (max-width: 440px) {
          width: 100%;
          align-items: center;
        }

        button {
          width: 50%;
        }

        &>* {
          margin-bottom: 20px;
        }

        .login-link {
          color: $login-link-color;
        }
        
      }

      h1 {
        font-size: 3em;

        @media (max-width: 440px) {
          font-size: 1em;
        }
      }

      img {
        @media (max-width: 440px) {
          display: none;
        }
      }
    }
  }

  .explanation {
    display: flex;
    flex-flow: column;

    align-items: center;

    img {
      width: 90%;
      height: auto;
      overflow: visible;
    }
  }

  .get-involved {

    .prompt {
      display: flex;
      flex-flow: column;
      align-items: center;

      margin: 100px 0 100px 0;

      button {
        width: 25%;
      }

      & > * {
        margin-bottom: 30px;
      }

    }

    img {
      width: 100%;
      height: auto;
    }

    .style_div {
      display: inline-block; 
      width: 100%; 
      margin-top: 3rem; 
      text-align:center;
    }

    .style_p {
      display: inline-block; 
      padding-bottom:1rem; 
      font-size:1.25rem; 
      font-weight:300;
    }
    .googleform {
      color: #6284ea;
    }
  }
}
