@import "../../../style/vars";

.divider-vertical {
    background: linear-gradient(to right,
        transparent 0%,
        transparent calc(50% - 0.81px),
        $divider-color calc(50% - 0.8px),
        $divider-color calc(50% + 0.8px),
        transparent calc(50% + 0.81px),
        transparent 100%);
}

.divider-horizontal {
    height: 2px;
    background: linear-gradient(to top,
        transparent 0%,
        transparent calc(50% - 0.81px),
        $divider-color calc(50% - 0.8px),
        $divider-color calc(50% + 0.8px),
        transparent calc(50% + 0.81px),
        transparent 100%);
}
