@import "style/vars";

.thread-view {
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: flex-end;
  max-height: calc(100% - 70px);
  overflow: auto;

  .all-messages {
    .message {
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      padding-left: 10px;

      &.self {
        background-color: $pale-grey;
      }

      .bubble {
        display: flex;
        flex-flow: row;
        margin: 5px;
        padding: 10px;
        color: $message-text-color;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
      }

      .messages--profile-pic {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background-color: $light-teal;
        flex-shrink: 0;
      }

      p {
        overflow-wrap: break-word;
        width: 100%;
      }
    }
  }
}
