@import "../../style/vars";

.container-register {
    width: 350px;
    min-height: 100vh;
    padding: 20px;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $main-text;
        font-size: 2em;
    }

    .info {
        width: 250px;
        margin: 0 auto;
    }
    .email-color{
        color: $primary-color;
    }
}

.email-form {
    display: flex;
    flex-direction: row;

    * {
        margin: 10px;
    }
}

.container-pending {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pending-text {
        margin: 20px;
    }

    .pending-registration-btns {
        display: flex;
        flex-direction: row;

        * {
            margin: 5px;
        }
    }
}