.slide-container {
    width: 70%;
    margin: auto; 
    margin-top: 100px;
}
  
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
}
  
.each-slide span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .innerhtml {
        width: 400px;
        height: 300px;
        margin-top: 100px;
    }
}

.change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 292px;
    margin-top: 100px;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin-top: 100px;
}

.onboarding-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
