@import "../../style/vars";

.footer-container {
    position: fixed;
    z-index: 10;
    bottom: 0;

    width: 100%;
    height: 51px;

    display: flex;
    flex-flow: row;
    justify-content: center;

    align-items: center;

    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #4a4a4a;
    color: white;

    .between-link {
        flex: 0 0 53px;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            padding: 5px;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .link-logo {
        flex: 0 0 80px;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            padding: 5px;
            font-weight: bold;
            font-size: 17px;
            cursor: pointer;
        }

        .inner-logo {
            width: 2em;
            margin-right: 0.35em;
        }
    }

    .link-privacy {
        flex: 0 0 120px;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            padding: 5px;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .link-about {
        flex: 0 0 80px;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            padding: 5px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
