@import "./style/vars";
@import "./components/home/style";
@import "./components/register/style";
@import "./components/loader/style";
@import "./components/completeRegistration/style";
@import "./components/profile/style";

body {
  background: #FFFFFF;
}

html, body, h1, h2, p {
  margin: 0px;
  padding: 0px;
}
