@import "./style/vars";
@import "./components/home/style";
@import "./components/register/style";
@import "./components/loader/style";
@import "./components/completeRegistration/style";
@import "./components/profile/style";
@import "./components/search/style";
@import "./components/searchBar/style";
@import "./components/navbar/style";
@import "./components/login/style";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
}

html, body, h1, h2, p {
  margin: 0px;
  padding: 0px;
}

#mount {
  width: 100%;
  height: 100%;
}

#mount > [data-reactroot] { height: 100% }
