@import "../../../style/vars";

.search-container {
    width: 100%;
    height: 100%;
    background-color: $profile-canvas-color;

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    @media (min-width: 440px) {
        justify-content: flex-start;
    }

    .search {
        @media (min-width: 440px) {
            order: 0;
        }
    }

    .search-results-container {
        flex-grow: 2;
        flex-shrink: 100;
        display: flex;
        flex-flow: column;
        overflow: scroll;

        .search-result-container {
            display: flex;
            flex-flow: row;
            justify-content: flex-end;

            width: 95%;
            min-height: 200px;
            max-height: 200px;
            margin: 10px;
            padding: 20px;
            background-color: $white;
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

            .mentor-details {
                display: flex;
                flex-flow: column;
                width: 60%;

                .mentor-name {
                    font-size: 1.3em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-bottom: 5px;
                }
                .mentor-major {
                    color: $mentor-bio-color;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-bottom: 5px;
                }
                .mentor-bio > p {
                    // target the p inside our shaved-off mentor bio
                    line-height: 1.3;
                }
            }
        }
    }
}